<% @heading = "Welcome to the Rails Blog" %>
<% @statement = "<p>Hello, <strong class='text-info'>Timo</strong>. You are a logged in. Create a post to share it.</p>" %>

<div class="post">
	<h4>Edit Post:</h4>
	<%= render 'form' %>
</div>